body {
  color: #000;
  font-family: Verdana, Arial, sans-serif;
}

.container {
  max-width: 1100px !important;
}

/**************Nav Bar Start*******************/
.navbar {
  padding: 0;
}

.navbar-brand {
  margin-left: 50px;
}

.navbar-nav .nav-link {
  font-size: 24px;
  margin-bottom: -10px;
}

/**************Nav Bar End*******************/

/**************Home Start*******************/

.carousel-inner img {
  width: 100%;
  object-fit: cover;
}

.client-logo {
  max-width: 150px;
  max-height: 100px;
  object-fit: contain;
}

.carousel-item {
  padding: 20px 0;
}

.about-us {
  padding: 80px;
  text-align: center;
}

.about-us h1 {
  font-size: 48px;
}

.about-us p {
  font-size: 22px;
}

/**************Home End*******************/

#footer-section {
  position: relative;
  height: 500px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #bacbdb;
  overflow: hidden;
}

#footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/slider-3.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: 1;
}

#footer-section-container {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 40px;
}

/**************Home End*******************/

/***** Product Section Start *****/

.products-container-black {
  background-color: #000;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 80px;
}

.products-header-black {
  text-align: center;
  background-color: #b7e2fe;
  padding: 5px 0px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  width: 220px;
  margin-bottom: 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.1),
    0 10px 30px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 250px;
  height: 250px;
}

.products-container-white {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 80px;
}

.products-header-white {
  text-align: center;
  background-color: #b7e2fe;
  padding: 5px 0px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

.product-card-white {
  width: 220px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 4px solid #000;

  overflow: hidden;
  box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.1),
    0 10px 30px rgba(0, 0, 0, 0);
  transition: transform 0.3s ease;
}

.product-card-white img {
  width: 250px;
  height: 250px;
}

/***** Product Section End *****/

/***** Duty Section Start *****/
.duty {
  padding: 50px 50px 50px 10px;
  min-height: 60vh;
}

.duty img {
  width: 100%;
}
.duty-list li {
  position: relative;
  padding-left: 25px;
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.duty-list li::before {
  content: "➤"; /* Unicode for the right arrow (→) */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Adjust size if needed */
  color: #000; /* Customize arrow color */
}

.duty-footer {
  padding: 40px 60px;
  background-color: #000;
}

.duty-footer h1 {
  font-size: 28px;
  color: #fff;
  position: relative;
}

.duty-footer h1::before {
  content: "❝"; /* Opening quote */
  font-size: 60px;
  position: absolute;
  top: -10px;
  left: -30px;
  color: #fff;
}

.duty-footer h1::after {
  content: "❞"; /* Closing quote */
  font-size: 60px;
  position: absolute;
  bottom: -10px;
  color: #fff;
}

/***** Duty Section End *****/

/***** Contact Section Start *****/
.contact-header {
  height: 700px;
  background-image: url("../images/slider-3.jpg");
  background-size: cover; /* Change to cover for better fit */
  background-position: center;
}

.contact-card-row {
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 700px;
}

.contact-card {
  width: 50%;
  background-color: #fff;
  padding: 50px 20px 50px 30px;
  margin-left: 80px;
  box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.1),
    0 10px 30px rgba(0, 0, 0, 0);
}

.contact-card h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.contact-card p {
  font-size: 22px;
  margin-bottom: 30px;
}

.contact-icons {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-form-header {
  height: 700px;
  margin-top: 20px;
  background-image: url("../images/slider-4.jpg");
  background-size: cover; /* Change to cover for better fit */
  background-position: center;
}

.contact-form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

.contact-form {
  width: 50%;
  background-color: #fff;
  padding: 80px;
  box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.1),
    0 10px 30px rgba(0, 0, 0, 0);
}

.contact-form-heading {
  font-size: 50px;
  text-align: center;
  border-bottom: 4px solid #c1c1c1;
  margin-bottom: 30px;
}

.contact-form input {
  background-color: #c1c1c1;
  border-radius: 0%;
  font-size: 22px;
}

.contact-form textarea {
  background-color: #c1c1c1;
  border-radius: 0%;
}

.contact-form button {
  padding: 5px 40px;
  border-radius: 0;
  font-size: 22px;
  background-color: #b7e2fe;
  color: #000;
  border: none;
}
/***** Contact Section End *****/
